.board {
    width: 310px;
}

.top {
    border-bottom: 3px solid black;
}

.bot {
    border-top: 3px solid black;
}

.left {
    border-right: 3px solid black;
}

.right {
    border-left: 3px solid black;
}

.row>div {
    box-sizing: border-box;
    width: 33.33%;
    padding: 50px;
    float: left;
    cursor: pointer;
}

img {
    display: none;
    width: 20px;
    position: relative;
    right: 20px;
}