.controls {
    height: 100px;
}

.board {
    width: 400px;
    height: 400px;
}

.top {
    border-bottom: 3px solid black;
}

.bot {
    border-top: 3px solid black;
}

.left {
    border-right: 3px solid black;
}

.right {
    border-left: 3px solid black;
}

.row>div {
    float: left;
    padding: 50px;
    background-size: cover;
}

.empty {
    cursor: pointer;
}

.x {
    background-image: url("x.png")
}

.o {
    background-image: url("o.png");
}

.template {
    display: none;
}
